<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>{% block title%}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="header_menu">
                <div class="header_logo">
                    <a href="{% url 'home'%}">Fooder</a>
                    <a href="{% url 'home'%}" class="logo"><img src="{% static "img/food_calc.png" %}" class="itemimg"></a>
                </div>
                <div class="header_user">
                    <div class ="menu_opt">
                        <div><a href="{% url 'search'%}">Поиск</a></div>
                        <div><a href="{% url 'reg'%}">Калькулятор БЖУ</a></div>
                        <div><a href="{% url 'auth'%}">Вход</a></div>
                        <div><a href="{% url 'reg'%}">Регистрация</a></div>
                    </div>
                    <div>
                        <a href="#logo" class="logo"><img src="{% static "img/logo.png" %}" class="itemimg"></a>
                    </div>
                </div>
            </div>
        </header>
        {% block content%}{% endblock %}
    </body>
</html>